@import "tailwindcss";

body{
	background-color: black;
}

::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #2ba4b9; /* Scrollbar handle */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #1f8091; /* Darker color on hover */
  }


  select {
    background-color: #2d2d2d; /* Dark background */
    color: white; /* White text */
    border: none;
    padding: 8px;
    border-radius: 5px;
  }
  
  select option {
    background: #4a5568; /* Dark gray */
    color: white;
  }
  